<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li ><button> <a href="/">Home</a></button></li>
            <br>
            <br>
            <li ><button><a href="/contact">Contact</a></button></li>
        </ul>
    </nav>
</body>
</html>