<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/profile.css">
</head>
<body>
    <p>
        <%- include('partials/nav') %>
    </p>
    <div class="container">
        <p>
            <b>A war between humans and demons is about to begin</b>
        </p>
        <span>
            Get ready to watch in cinemas
        </span>
    </div>
</body>
</html>